.login {
  width: 100%;
  height: 100vh;
  background-color: $white;

  &__content {
    width: 100%;
    height: 100%;

    @include mq($screen-l) {
      display: flex;
    }
  }

  &__image {
    display: none;

    @include mq($screen-l) {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 600px;
      background-image: url("../../assets/images/login-picture.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__group {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: $spacer--semi-large $spacer--semi-medium;

    @include mq($screen-xl) {
      margin-left: 128px;
    }
  }

  &__logo {
    display: block;
    margin-top: $spacer--semi-large;
    margin-bottom: 100px;

    @include mq($screen-l) {
      margin-bottom: 150px;
    }
  }

  &__title {
    color: $black;
    font-weight: $font-weight;
    font-size: $font-size-extra-large;
    line-height: 40px;
    text-transform: capitalize;
    margin-bottom: $spacer--large;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacer--semi-medium;
    margin-bottom: $spacer--medium;
  }

  &__button {
    margin-top: $spacer--large;
  }

  &__link {
    color: $gray-4;
    font-weight: $font-weight;
    font-size: $font-size-base;
    line-height: 16px;
    text-decoration-line: underline;

    &:hover {
      cursor: pointer;
    }
  }
}
