.badge {
  width: fit-content;
  padding: 4px 16px;
  color: $white;
  background-color: $gold;
  font-weight: $font-weight;
  font-size: $font-size-base;
  line-height: 16px;
  text-transform: capitalize;
}
