// Colors
$white: hsla(0, 0%, 100%, 1);
$black: hsla(220, 5%, 11%, 1);
$gold: hsla(36, 94%, 57%, 1);
$blue-1: hsla(231, 92%, 62%, 1);
$blue-2: hsla(231, 81%, 52%, 1);
$gray-1: hsla(228, 20%, 95%, 1);
$gray-2: hsla(228, 19%, 90%, 1);
$gray-3: hsla(229, 19%, 77%, 1);
$gray-4: hsla(231, 10%, 61%, 1);

// Layout - breakpoints
$screen-xs: 320px;
$screen-s: 480px;
$screen-m: 768px;
$screen-l: 1024px;
$screen-xl: 1200px;
$screen-xxl: 1600px;

// Typography
$font-weight: 600;
$font-size-base: 14px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-extra-large: 30px;

// Spacers
$spacer--extra-small: 4px;
$spacer--small: 8px;
$spacer: 12px;
$spacer--medium: 16px;
$spacer--semi-medium: 24px;
$spacer--large: 32px;
$spacer--semi-large: 40px;
$spacer--extra-large: 48px;
