.product {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 8px;

  &--unavailable {
    .product__image {
      filter: grayscale(100%) brightness(0.8);
    }
  }

  &--loading {
    .product__header {
      &::before {
        content: "";
        width: 40%;
        height: 100%;
        background-color: $white;
        opacity: 0.1;
        box-shadow: hsla(240, 5%, 41%, 0.2) 0px 7px 30px 0px;
        position: absolute;
        top: 0;
        transform: skewX(-20deg);
        animation: loading 2s infinite;
      }

      @keyframes loading {
        0% {
          left: -120%;
        }
        50% {
          left: -60%;
        }
        100% {
          left: 120%;
        }
      }
    }

    .product__image {
      opacity: 0;
    }
  }

  &__header {
    width: 100%;
    height: 170px;
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $gray-4;
    overflow: hidden;
    position: relative;
  }

  &__badge {
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 16px 16px 24px 16px;
  }

  &__name {
    color: $black;
    font-weight: $font-weight;
    font-size: $font-size-medium;
    line-height: 16px;
    text-transform: capitalize;
    margin-bottom: 8px;
  }

  &__description {
    color: $gray-4;
    font-weight: $font-weight;
    font-size: $font-size-base;
    line-height: 16px;
    text-transform: capitalize;
    margin-bottom: 32px;
  }

  &__rating {
    margin-top: auto;
    margin-bottom: 16px;
  }

  &__modal {
    border-radius: inherit;
  }

  &__modal-header {
    width: 100%;
    height: 354px;
    border-radius: inherit;
  }

  &__modal-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
  }

  &__modal-content {
    padding: 24px;

    @include mq($screen-m) {
      padding: 24px 32px 56px;
    }
  }

  &__modal-name {
    @extend .product__name;

    font-size: $font-size-large;
    line-height: 30px;
  }

  &__modal-description {
    @extend .product__description;

    font-size: $font-size-medium;
    line-height: 24px;
    margin-bottom: 0;
  }
}
