.products {
  width: 100%;
  min-height: 100vh;
  background-color: $gray-1;

  &__navbar {
    margin-bottom: 24px;

    @include mq($screen-l) {
      margin-bottom: 56px;
    }
  }

  &__container {
    @include container;
  }

  &__pagination {
    padding-bottom: 68px;
  }
}
